@use '../../styles/colors.scss';
@use '../../styles/container.scss';

#error-container{
    min-width: 20rem;
    color: colors.$white;
    padding: 0.4rem;
    box-shadow: container.$shadow-border-light-bg;

    #text-container{
        background-color: colors.$soft-red;
        padding: 0.4rem 2rem;

        #error-header{
            text-align: center;
        }
    }
}