@use '../../styles/colors.scss';
@use '../../styles/container.scss';

#error-container{
    color: colors.$white;
    border-radius: 5px;
    padding: 5px;
    box-shadow: container.$shadow-border-light-bg;

    #text-container{
        background-color: colors.$black;
        padding: 5px;
    }
}