$main-background-color: rgb(21, 21, 21);
$content-background-color: rgb(255, 255, 255);
$main-text-color: rgb(0, 0, 0);
$prim-highlight-text-color: rgb(199, 73, 58);
$prim-dark-highlight-text-color: rgb(163, 51, 39);
$sec-highlight-text-color:rgb(104, 151, 117);
$missing-highlight-color: rgb(255, 0, 0);