@use '../../styles/colors.scss';
@use '../../styles/container.scss';
@use '../../styles/text.scss';

.container{
    display: grid;
    height: 100%;

    .outer-circle {
        padding: 0.8rem;
        margin: auto;
        margin-bottom: 0;
        position: relative;

        .inner-circle{
            width: fit-content; 
            background-color: colors.$moderate-red;
            padding: 0.5rem;
            border-radius: 50%;
    
            .icon{
                width: 2.0rem;
                fill: colors.$white;
            }
        }

        &::after {
            content: '';
            position: absolute;
            top: 0.22rem;
            left: 0.12rem;
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            border: 0.2rem solid;
            border-color: colors.$vivid-red colors.$moderate-red colors.$moderate-red colors.$moderate-red;
            animation: spin 1.2s linear infinite;
        }

    }

    .loading-description {
        margin: auto;
        margin-top: 0.5rem;

        .loading-title {
            @include text.description($color: colors.$white, $weight: bold, $align: center);
        }

        .loading-text {
            @include text.description($color: colors.$white, $align: center);
        }
    }
}

@keyframes spin { 
    0% { transform: rotate(0deg);}
    100% { transform: rotate(360deg);}
  }