<div id="bg-blur">
  <div id="svg-container">
    <div *ngFor="let icon of icons">
      <svg
        [id]="icon.id"
        class="icon"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 0 512 512">
        <circle class="yellow-circle" cx="256" cy="256" r="256" />
        <g style="opacity: 0.3">
          <circle class="white-circle" cx="256" cy="256" r="194.664" />
        </g>
        <g style="opacity: 0.7">
          <rect
            class="white-rect"
            x="222.968"
            y="123.696"
            width="66.064"
            height="264.64" />
        </g>
      </svg>
    </div>
  </div>
</div>
