@use '../../../shared/styles/text.scss';
@use '../../../shared/styles/button.scss';
@use '../../../shared/styles/container.scss';

#login-form{
    display: grid;
    gap: 30px;
    margin-top: 30px;

    .relative-container{
        position: relative;

        .input{
            width: 92%;
            @include container.input-container($font-size: text.$text-font-size);
        }

        #label-email, #label-password{
            @include container.label-container($font-size: text.$minimal-font-size, $top: 8px);
        }

        #email:where(:focus, .ng-dirty) ~ #label-email, #password:where(:focus, .ng-dirty) ~ #label-password{
            @media (min-width: 410px) {
                transform: translate(70%, -50%);
            }
           transform: translate(0, -50%);
        }

        .icon{
            @include container.svg-label-container();
        }

        .missing, #error-msg, #loading{
            position: absolute;
        }

        #loading{
            left: 50%;
            bottom: 0;
            transform: translate(-50%, 0);
        }

        .missing{
            margin: -20px 0px;
            font-size: 10pt;
        }

    }

    #login-button{
        @include button.button($font-size: text.$text-font-size);
    }
}