<!-- The form to entere the access code -->
<form id="code-form" [formGroup]="codeForm" (submit)="onSubmit()">
  <div id="input-container">
    <input
      class="key-field"
      type="text"
      maxlength="1"
      formControlName="value1"
      #value1
      (input)="toNext(value1, value2)" />
    <input
      class="key-field"
      type="text"
      maxlength="1"
      formControlName="value2"
      #value2
      (input)="toNext(value2, value3)" />
    <input
      class="key-field"
      type="text"
      maxlength="1"
      formControlName="value3"
      #value3
      (input)="toNext(value3, value4)" />
    <input
      class="key-field"
      type="text"
      maxlength="1"
      formControlName="value4"
      #value4
      (input)="toNext(value4, value5)" />
    <input
      class="key-field"
      type="text"
      maxlength="1"
      formControlName="value5"
      #value5
      (input)="toNext(value5, value6)" />
    <input
      class="key-field"
      type="text"
      maxlength="1"
      formControlName="value6"
      #value6 />
  </div>
  <!-- Element with the error message -->
  <div id="relative-container">
    <div id="missing" *ngIf="isInvalid" [@slideEffect]>
      <app-invalid-input [message]="text.missing"></app-invalid-input>
    </div>
  </div>
  <!-- Button to emit the entered access code -->
  <button id="proof-code-button">{{ text.proofCode }}</button>
</form>
