@use '../../../shared/styles/button.scss';
@use '../../../shared/styles/text.scss';
@use '../../../shared/styles/colors.scss';
@use '../../../shared/styles/container.scss';

#code-form{
    position: relative;
    display: grid;
    gap: 2rem;

    #input-container{
        display: grid;
        grid-auto-flow: column;
        gap: 0.2rem;
        margin-top: 1.5rem;
        margin-bottom: 0.5rem;

        .key-field{
            width: 2rem;
            height: 3rem;
            @include container.input-code-container();
            @include text.description($align: center);
        }
    }

    #relative-container{
        position: relative;

        #missing{
            position: absolute;
            margin: -2rem 0;
        }
    }

    #proof-code-button{
        @include button.button();
        @include text.description($align: center, $color: colors.$moderate-red);
        padding: 1rem 2rem;
        
    }
}