<nav class="nav-container">
  <!-- Logo -->
  <a class="nav-elem" routerLink="/dashboard" routerLinkActive="active">
    <app-logo></app-logo>
  </a>
  <!-- Dashboard link -->
  <app-nav-elements type="dashboard"></app-nav-elements>
  <!-- Finance link -->
  <app-nav-elements type="finances"></app-nav-elements>
  <!-- Accounts link -->
  <app-nav-elements type="accounts"></app-nav-elements>
  <!-- Profil button -->
  <a
    class="nav-elem"
    role="button"
    (click)="onProfile()"
    (keydown.p)="onProfile()"
    tabindex="0">
    @if (imagePath !== '') {
      <img class="profile-btn" [src]="imagePath" alt="" />
    } @else {
      <p class="profile-btn">{{ firstLetter }}</p>
    }
  </a>
</nav>
<!-- Profile window -->
@if (activeProfile) {
  <div class="profile-box" [@moveDown]>
    <app-nav-elements
      type="profile"
      [borderAnimation]="true"></app-nav-elements>
    <app-nav-elements
      type="settings"
      [borderAnimation]="true"></app-nav-elements>
    <app-nav-elements type="logout" [borderAnimation]="true"></app-nav-elements>
  </div>
}
