@use '../../styles/colors.scss';
@use '../../styles/text.scss';

$transition-time: 0.5s;

#container {
    display: flex;
    gap: 1.6rem;
    justify-content: center;
    background-color: colors.$black;
    box-shadow: 0 0.2rem 0.4rem 0 colors.$very-dark-gray, 
                0 0.1rem 0.1rem 0 colors.$very-dark-gray;
    position: sticky;
    // Delete margin added by the browser
    margin: -0.5rem;

    $boundary: 1.0rem;
    :first-child {
        padding-top: 0.2rem;
        margin-left: $boundary;
        margin-right: auto;
    }
    :last-child {
        margin-right: $boundary;
        margin-left: auto;
    }

    .nav-elem {
        display: flex;
        gap: 0.4rem;
        align-items: center;
        @include text.description($color: colors.$white);

        .icon {
            fill: colors.$white;
            width: 1.6rem;
            transition: fill $transition-time;
        }

        .description {
            transition: color $transition-time;
        }

        .description::after {
            content: '';
            display: block;
            transform: scaleX(0);
            height: 0.15rem;
            background-color: colors.$moderate-red;
            transition: transform $transition-time ease-out;
        }

        .profile {
            width: 2.5rem;
            height: 2.5rem;
            line-height: 2.15rem;
            border-radius: 50%;
            text-align: center;
            margin: auto;
            background-color: colors.$light-grey;
            color: colors.$moderate-red;
            transition: opacity $transition-time;
        }

        &:where(:hover, :focus) {
            .icon {
                fill: colors.$moderate-red;
            }
    
            .description {
                color: colors.$moderate-red;
            }
    
            .description::after {
                transform: scaleX(1);
            }

            .profile {
                opacity: 50%;
            }
        }
    }    
}