<nav>
  <div class="nav-container">
    <!-- Logo -->
    <a class="nav-elem" routerLink="/dashboard" routerLinkActive="active">
      <app-logo></app-logo>
    </a>
    <!-- Dashboard link -->
    <app-nav-elements type="dashboard" class="can-hide"></app-nav-elements>
    <!-- Finance link -->
    <app-nav-elements type="finances" class="can-hide"></app-nav-elements>
    <!-- Accounts link -->
    <app-nav-elements type="accounts" class="can-hide"></app-nav-elements>
    <!-- Profil button -->
    <a
      class="nav-elem"
      role="button"
      (click)="onProfile()"
      (keydown.enter)="onProfile()"
      tabindex="0">
      @if (imagePath !== '') {
        <img class="profile-btn" [src]="imagePath" alt="" />
      } @else {
        <p class="profile-btn">{{ firstLetter }}</p>
      }
    </a>
  </div>
  <!-- Profile window -->
  @if (activeProfile) {
    <div class="vertical-secondary-nav" [@moveDown]>
      <app-nav-elements
        type="profile"
        [borderAnimation]="true"></app-nav-elements>
      <app-nav-elements
        type="settings"
        [borderAnimation]="true"></app-nav-elements>
      <app-nav-elements
        type="logout"
        [borderAnimation]="true"></app-nav-elements>
    </div>
    <div class="vertical-primary-nav" [@moveLeftToRight]>
      <!-- Dashboard link -->
      <app-nav-elements
        type="dashboard"
        [borderAnimation]="true"></app-nav-elements>
      <!-- Finance link -->
      <app-nav-elements
        type="finances"
        [borderAnimation]="true"></app-nav-elements>
      <!-- Accounts link -->
      <app-nav-elements
        type="accounts"
        [borderAnimation]="true"></app-nav-elements>
      <app-nav-elements
        type="profile"
        [borderAnimation]="true"></app-nav-elements>
      <app-nav-elements
        type="settings"
        [borderAnimation]="true"></app-nav-elements>
      <app-nav-elements
        type="logout"
        [borderAnimation]="true"></app-nav-elements>
    </div>
  }
</nav>
