@use '../styles/global/text.scss' as text;
@use '../styles/global/colors.scss' as colors;
@use '../styles/global/container.scss' as container;

#title{
    @include text.main-header;
}

$max-screen-width: 800px;

.small-shape-bottom, .large-shape-bottom{
    position: fixed;
    border-radius: 100% 0 0 0;
    bottom: 0;
    right: 0;
}

.small-shape-bottom, .small-shape-left{
    $size-large: 320px;
    $size-small: 220px;

    @media (max-width: $max-screen-width) {
        width: $size-small;
        height: $size-small;
    }
    width: $size-large;
    height: $size-large;
    background-color: colors.$prim-highlight-text-color;
    z-index: 1;
    box-shadow: container.$shadow-border-light-bg;
}

.large-shape-bottom, .large-shape-left{
    $size-large: 420px;
    $size-small: 320px;

    @media (max-width: $max-screen-width) {
        width: $size-small;
        height: $size-small;
    }
    width: $size-large;
    height: $size-large;
    background-color: colors.$sec-highlight-text-color;
    box-shadow: container.$shadow-border-dark-bg;
}

.small-shape-left, .large-shape-left{
    $top-large: 30%;
    $top-small: 15%;

    @media (max-width: $max-screen-width) {
        top: $top-small;
    }
    position: fixed;
    border-radius: 100% 100% 100% 100%;
    left: 0;
    top: $top-large;   
}