@use './shared/styles/text.scss' as text;
@use './shared/styles/colors.scss' as colors;
@use './shared/styles/container.scss' as container;

#title{
    @include text.header();
}

$max-screen-width: 60rem;

.small-shape-bottom, .large-shape-bottom{
    position: fixed;
    border-radius: 100% 0 0 0;
    bottom: 0;
    right: 0;
}

.small-shape-bottom, .small-shape-left{
    $size-large: 20rem;
    $size-small: 15rem;

    @media (max-width: $max-screen-width) {
        width: $size-small;
        height: $size-small;
    }
    width: $size-large;
    height: $size-large;
    background-color: colors.$moderate-red;
    z-index: -1;
    box-shadow: container.$shadow-border-light-bg;
}

.large-shape-bottom, .large-shape-left{
    $size-large: 25rem;
    $size-small: 20rem;

    @media (max-width: $max-screen-width) {
        width: $size-small;
        height: $size-small;
    }
    width: $size-large;
    height: $size-large;
    background-color: colors.$lime-green;
    z-index: -2;
    box-shadow: container.$shadow-border-dark-bg;
}

.small-shape-left, .large-shape-left{
    $top-large: 30%;
    $top-small: 15%;

    @media (max-width: $max-screen-width) {
        top: $top-small;
    }
    position: fixed;
    border-radius: 100% 100% 100% 100%;
    left: 0;
    top: $top-large;   
}