@use './colors.scss';

@mixin button ($color: colors.$moderate-red, $bg-color: colors.$white, $color-active: colors.$vivid-red){
    background-color: $bg-color;
    color: $color;
    border-color: $color;
    outline: none;
    cursor: pointer;
    transition: all 0.5s, background-color 0.1s;

    &:where(:hover, :focus){
        transform: translateY(-10px);
        background-color: $color;
        color: $bg-color;
        box-shadow: 10px 10px rgb(38, 38, 38);
    }

    &:active{
        background-color: $color-active;
    }
}