$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$very-dark-gray: rgb(21, 21, 21);
$moderate-red: rgb(199, 73, 58);
$vivid-red: rgb(163, 51, 39);
$soft-red: rgb(243, 95, 99);
$lime-green:rgb(104, 151, 117);
