@use './colors.scss';

$font-family: 'Ubuntu', system-ui, sans-serif;
$desktop-header-font-size: 32pt;
$mobile-header-font-size: 26pt;
$desktop-text-font-size: 14pt;
$mobile-text-font-size: 12pt;
$desktop-hint-font-size: 10pt;
$mobile-hint-font-size: 8pt;

$desktop-screen-width: 700px;

// This mixin defines the style for a text element
@mixin text-style ($align, $weight, $text-decoration, $color){
    text-align: $align;
    font-family: $font-family;
    font-weight: $weight;
    text-decoration: $text-decoration;
    color: $color;
}

// This mixin defines the style for a header
@mixin header ($align: center, $weight: 100, $text-decoration: none, $color: colors.$moderate-red){
    @include text-style($align, $weight, $text-decoration, $color);
    font-size: $mobile-header-font-size;

    @media (min-width: $desktop-screen-width) {
        font-size: $desktop-header-font-size;   
    }
}

// This mixin defines the style for a normal text element
@mixin description ($align: start, $weight: 100, $text-decoration: none, $color: colors.$black){
    @include text-style($align, $weight, $text-decoration, $color);
    font-size: $mobile-text-font-size;

    @media (min-width: $desktop-screen-width) {
        font-size: $desktop-text-font-size;   
    }
}

// This mixin defines the style for a label element
@mixin label ($align: start, $weight: 100, $text-decoration: none, $color: colors.$black){
    @include text-style($align, $weight, $text-decoration, $color);
    font-size: $mobile-hint-font-size;

    @media (min-width: $desktop-screen-width) {
        font-size: $desktop-hint-font-size;   
    }
}