<div class="container">
  <div class="grid-container">
    <button id="login" [ngClass]="{ inactive: !isLogin() }" (click)="onLogin()">
      Anmelden
    </button>
    <button
      id="register"
      [ngClass]="{ inactive: isLogin() }"
      (click)="onRegister()">
      Registrieren
    </button>
  </div>
  <div class="overlap-grid-container">
    <div
      *ngIf="isLogin() && !isSetAccessCode() && !isGetAccessCode()"
      [@slideLeft]
      class="auth-content">
      <app-login
        (login)="onSubmit($event)"
        (forgetPwd)="onForgetPwd()"></app-login>
    </div>
    <div *ngIf="!isLogin()" [@slideRight] class="auth-content">
      <app-register></app-register>
    </div>
    <div *ngIf="isGetAccessCode()" [@slideRight] class="auth-content">
      <app-get-code (setEmail)="onSetEmail($event)"></app-get-code>
    </div>
    <div *ngIf="isSetAccessCode()" [@slideLeft] class="auth-content">
      <app-set-code></app-set-code>
    </div>
  </div>
  <div id="loading" *ngIf="waiting">
    <app-loading></app-loading>
  </div>
  <div id="error-msg" *ngIf="error" [@slideLeft]>
    <app-small-error-msg [message]="error"></app-small-error-msg>
  </div>
</div>
