@use '../../shared/styles/container.scss';
@use '../../shared/styles/text.scss';
@use '../../shared/styles/colors.scss';


$desktop-screen-width: 26rem;

/* Defines the grid-template-columns depending which item is selected. Makes the sliding animation possible */
@mixin grid-column-template($left: false){
    $grid-item-size: 49%;
    @if $left{
        grid-template-columns: $grid-item-size auto; 
    } @else {
        grid-template-columns: auto $grid-item-size; 
    }
}

.container{
    @include container.card-container();

    width: fit-content;
    margin: 0 auto;

    .grid-container{
        display: grid;
        transition: all 0.5s;
    }

    #login, #register{
        @include text.description();
        padding: 1rem 2rem;
        outline: none;
        border: none;
        cursor: pointer;
        border-radius: container.$default-border-radius - 0.1rem;
        background-color: inherit;

        &.inactive{
            background-color: colors.$very-dark-gray;
            color: colors.$moderate-red;
            transition: all 0.5s;
        }

        &.inactive:is(:hover, :focus){
            background-color: colors.$moderate-red;
            color: colors.$white;
        }
    }

    .overlap-grid-container{
        display: grid;

        .auth-content{
            padding: 1rem 2rem;
            grid-column-start: 1;
            grid-row-start: 1;
        }
    }
}

/* Defines the template according to the class assignment and the hover-/focus-effect */
@media (min-width: $desktop-screen-width) {
    .grid-container{
        grid-auto-flow: column;
        &:has(#login.inactive){
            @include grid-column-template(false);
        }
        &:has(#register.inactive){
            @include grid-column-template(true);
        }
        &:has(#register.inactive:is(:hover, :focus)){
            grid-template-columns: 0% auto;
        }
        &:has(#login.inactive:is(:hover, :focus)){
            grid-template-columns: auto 0%;
            overflow: hidden;
        }
    }
} 