<div class="container">
  <div class="grid-container">
    <button id="login" [ngClass]="{ inactive: !login }" (click)="onLogin()">
      Anmelden
    </button>
    <button
      id="register"
      [ngClass]="{ inactive: login }"
      (click)="onRegister()">
      Registrieren
    </button>
  </div>
  <div class="overlap-grid-container">
    <div *ngIf="login" [@slideLeft] class="auth-content">
      <app-login (login)="onSubmit($event)"></app-login>
    </div>
    <div *ngIf="!login" [@slideRight] class="auth-content">
      <app-register></app-register>
    </div>
  </div>
  <div id="loading" *ngIf="waiting">
    <app-loading></app-loading>
  </div>
  <div id="error-msg" *ngIf="error">
    <app-small-error-msg [message]="'sds'"></app-small-error-msg>
  </div>
</div>
