<h1 id="title">{{ text.title }}</h1>
<div class="container">
  <div class="grid-container">
    <!-- Button to access the login screen -->
    <button id="login" [ngClass]="{ inactive: !isLogin() }" (click)="onLogin()">
      {{ text.loginButton }}
    </button>
    <!-- Button to access the register screen -->
    <button
      id="register"
      [ngClass]="{ inactive: isLogin() }"
      (click)="onRegister()">
      {{ text.registerButton }}
    </button>
  </div>
  <div class="overlap-grid-container">
    <!-- Register screen -->
    @if (!isLogin()) {
      <app-register [@moveLeftToRight] class="auth-content"></app-register>
      <!-- Login screen -->
    } @else if (isLogin() && !isCode()) {
      <app-login
        [@moveLeftToRight]
        class="auth-content"
        (login)="onSubmitLogin($event)"
        (forgetPwd)="onForgetPwd()"></app-login>
      <!-- Set email for reset password screen -->
    } @else if (isCode() && !email) {
      <app-get-code
        [@moveLeftToRight]
        class="auth-content"
        [emailValue]="email"
        (setEmail)="onSetEmail($event)"></app-get-code>
      <!-- Set security code screen -->
    } @else {
      <app-set-code
        [@moveLeftToRight]
        (sendCode)="onSetCode($event)"
        class="auth-content"></app-set-code>
    }
  </div>
  <!-- Loading screen -->
  @if (waiting) {
    <app-loading
      id="loading"
      message="Hello my friends i am now here"></app-loading>
  }
  <!-- Error block -->
  @if (error) {
    <app-small-error-msg
      id="error-msg"
      [@moveLeftToRight]
      [message]="error"></app-small-error-msg>
  }
</div>
