@use '../../styles/colors.scss';
@use '../../styles/text.scss';

.toasts-container, .overlap-container {
    left: 0;
    right: 0;
    margin: 0 auto;
}

.toasts-container {
    position: sticky;
    top: 3.5rem;
    width: 35rem;
    z-index: 100;

    .overlap-container {
        position: absolute;
        display: grid;
        gap: 0.5rem;

        .toast-content {
            display: flex;
            gap: 0.5rem;
            border-radius: 0.3rem;
            border: 0.1rem colors.$black solid;
            background-color: colors.$white;
            box-shadow: rgba(0, 0, 0, 0.3) 0 1.18rem 2.3rem, rgba(0, 0, 0, 0.22) 0 0.9rem 0.9rem;
            @include text.description();

            &::before {
                content: '';
                width: 1.5rem;
                border-top-left-radius: 0.3rem;
                border-bottom-left-radius: 0.3rem;
                background-color: colors.$success-green;
            }

            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                right: 0;
                height: 5px;
                border-radius: 0.3rem;
                background-color: colors.$success-green;
                animation: 5s 1s increase forwards;
            }

            .description {
                margin-right: auto;
            }

            .type-icon, .close-icon {
                width: 2rem;
                fill: colors.$success-green;
            }

            .close {
                background: none;
	            color: inherit;
	            border: none;
	            padding: 0;
	            cursor: pointer;
	            outline: inherit;
                margin-right: 0.5rem;

                .close-icon {
                    width: 1.5rem;
                    stroke: colors.$black;
                    stroke-width: 0.2rem;
                    transition: 0.5s background-color;
                    border-radius: 0.3rem;
                }

                &:hover, &:focus {
                    .close-icon {
                        background-color: colors.$light-grey;
                    }
                }

                &:active {
                    .close-icon {
                        background-color: colors.$grey;
                    }
                }
            }
        }
    }
}

@keyframes increase {
    0% {width: 0}
    100% {width: 100%}
}