/* You can add global styles to this file, and also import other style files */
@use './app/shared/styles/colors.scss';
@use './app/shared/styles/text.scss';

html{
    background-color: colors.$main-background-color;
    color: colors.$prim-highlight-text-color;
    font-family: text.$primary-font-family;
}